- page_title "GitHub 导入"
- header_title "项目", root_path
%h3.page-title
  %i.fa.fa-github
  从 GitHub 导入项目

%p.light
  选择要导入的项目。
%hr
%p
  = button_tag class: "btn btn-import btn-success js-import-all" do
    导入所有项目
    = icon("spinner spin", class: "loading-icon")

.table-responsive
  %table.table.import-jobs
    %colgroup.import-jobs-from-col
    %colgroup.import-jobs-to-col
    %colgroup.import-jobs-status-col
    %thead
      %tr
        %th 从 GitHub
        %th 到 GitLab
        %th 状态
    %tbody
      - @already_added_projects.each do |project|
        %tr{id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}"}
          %td
            = github_project_link(project.import_source)
          %td
            = link_to project.path_with_namespace, [project.namespace.becomes(Namespace), project]
          %td.job-status
            - if project.import_status == 'finished'
              %span
                %i.fa.fa-check
                完成
            - elsif project.import_status == 'started'
              %i.fa.fa-spinner.fa-spin
              已开始
            - else
              = project.human_import_status_name

      - @repos.each do |repo|
        %tr{id: "repo_#{repo.id}"}
          %td
            = github_project_link(repo.full_name)
          %td.import-target
            = repo.full_name
          %td.import-actions.job-status
            = button_tag class: "btn btn-import js-add-to-import" do
              导入
              = icon("spinner spin", class: "loading-icon")

:javascript
  new ImporterStatus("#{jobs_import_github_path}", "#{import_github_path}");
